//=== MIXINS ===//
@mixin rkt-menu(
	$color: $black,
	$color-hover: $dark-gray,
	$width: 20px,
	$height: 16px,
	$weight: 2px,
	$radius: 0,
	$bars: 3){
	// Spacing between bars
	$spacing: ($height - ($weight * $bars)) / ($bars - 1);

	@if unit($spacing) == 'px'{
		$spacing: floor($spacing);
	}

	// Icon container
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: $width;
	height: $height;
	cursor: pointer;

	span{
		top: 0;
		display: block;

		&::before, &::after{
			content: "";
			display: block;
		}

		&, &::before, &::after{
			position: absolute;
			left: 0;
			width: 100%;
			height: $weight;
			background-color: $color;
			border-radius: $radius;
			-webkit-transition-property: -webkit-transform, opacity;
			transition-property: transform, opacity;
			transition-duration: 0.15s;
			transition-timing-function: ease;
		}

		&::before{
			top: $spacing + $weight;
		}

		&::after{
			top: ($spacing + $weight) * 2;
		}

		&:hover{
			&, &::before, &::after{
				background-color: $color-hover;
			}
		}
	}

	&.is-active{
		span{
			$y-offset: $spacing + $weight;

			transform: translate3d(0, $y-offset, 0) rotate(45deg);

			&::before{
				transform: rotate(-45deg) translate3d($width / -7, $spacing * -1, 0);
				display: none;
			}

			&::after{
				transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
			}
		}
	}

}

// Mixin for media queries based on breakpoints
@mixin breakpoint($point, $type: 'down'){
	$breakpoints: (
			small: 640px,
			medium: 1024px,
			large: 1440px,
	);
	$value: map-get($breakpoints, $point);

	@if $type == 'down'{
		@media (max-width: $value){
			@content;
		}
	} @else if $type == 'up'{
		@media (min-width: ($value - 1)){
			@content;
		}
	} @else{
		@error "Invalid type: #{$type}. Must be 'min' or 'max'.";
	}
}

//=== FUNCTIONS ===//

// Remove units
@function strip-unit($number){
	@if type-of($number) == 'number' and not unitless($number){
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

// Calc GAP
@function gap-calc($columns, $gap){
	$rem: #{$gap/16}rem;
	$px: #{$gap}px;

	$result: calc(100% / #{$columns} - (#{$rem} / #{$columns} * (#{$columns} - 1)));

	@return $result;
}

// Covert pixels to vw
@function vw($val, $base: 1920){
	$size: strip-unit($val);
	$vw_value: $size / $base * 100vw;
	@return $vw_value;
}

// Convert pixels to rem
@function rem($size){
	$remSize: strip-unit($size) / 16;

	@return #{$remSize}rem;
}