// Import Theme Core
@import "inc/functions";
@import "inc/core";


@import "footer";
@import "header";
@import "archive";
@import "templates/home";

html{
	height: 100%;
	font-size: 16px;


}

main{
	display: block;
	color: var(--main-color-1)
}