.theme-overlay .screenshot:after { content: none; }

.theme-overlay .screenshot img { position: relative; object-fit: cover; width: auto; }

.acf-field[data-name="blocks"] .layout { width: 100%; margin: 0; }

.acf-field[data-name="blocks"] .layout.-collapsed { width: calc(var(--block-width) - 6.5px); }

.acf-field[data-name="blocks"] .acf-flexible-content .values { display: flex; flex-wrap: wrap; gap: 5px; }
